* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

.container .row div[class^="col"] {
    float: left;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: currentColor;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

header .container {
    color: white;
    padding: 20px 0;
}

header .container h1{
    margin-bottom: 45px;
}

header .container p{
    margin: 0 auto 20px auto;
    width: 80%;
}

header {
    text-align: center;
    background-image: url("img/jumbo.png");
    background-size: cover;
    background-position: center;
}

.col-2:not(header) {
    width: 16.66%;
}

.col-8:not(header) {
    width: 66.66%;
}

.col-4:not(header) {
    width: 33.33%;
} 

.row .col-12 {
    width: 100%;
    text-align: center;
    float: right;
}

header .row:nth-child(2) {
    padding: 100px 0;
}

.logo{
    height: 50px;
    float: left;
}

.menu{
    white-space: nowrap;
    float: left;
}

header .menu li {
    display: inline-block;
}

header .menu a {
    color: white;
    margin: 0px 7px;
    line-height: 34px;
}

header .container a{
    display: inline-block;
    z-index: 100;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 18px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

header .menu a:hover {
    color: rgb(199, 163, 206);
}

header .header_button {
    height: 50px;
    padding: 6px 0;
}

.header_button a {
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    z-index: 10;
}

.button_w {
    background-color: white;
    color: black;
}

.button_w:hover {
    color: rgb(199, 163, 206);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.button_b {
    background-color: black;
    color: white;
}

.button_b:hover {
    background-color: rgb(199, 163, 206);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    color: black;
}

main section{
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 50px;
}

main .row .col-4 h2 {
    margin-bottom: 50px;
}

main section:last-child .row:first-child {
    margin-bottom: 50px;
}

main section:nth-child(even) {
    background-color: lightgrey;
}

main section:last-child h2 {
    width: 85%;
    margin: 0 auto 20px auto;
}

main section:last-child p {
    width: 85%;
    margin: 0 auto 20px auto;
}

main section:last-child h3 {
    font-size: 30px;
    background-image: url("img/stars.svg");
    background-size: contain;
    width: 50%;
    padding-top: 30px;
    margin: 0 auto 50px auto;
}

.button_a {
    background-color: #5865F2;
    color: white;
}

.button_a:hover {	
	background-color: #5865F2;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

main section:last-child a {
display: inline-block;
z-index: 10;
font-size: 18px;
padding: 15px 20px;
border-radius: 30px;
}

footer .container {	
	padding: 50px 0;
}

footer {
    background-color: #303234;
    color: white;
}

footer .row .col-4 .footer_txt h5 {
    font-size: 30px;
    color: #5865F2;
    font-weight: bold;
    margin-bottom: 20px;
}

footer .row .col-4 .footer_txt select {
    margin-bottom: 20px;
    background: none;
    border: 0;
    color: white;
}

footer .row .col-2 .footer_link ul {
    list-style-type: none;
}

footer .row .col-2 .footer_link li {
    margin-bottom: 10px;
}

footer .row .col-2 .footer_link a:hover {
    color: rgb(199, 163, 206);
}

footer .row .col-2 .footer_link h5 {
    color: #5865F2;
    margin-bottom: 10px;
}

footer .row .col-4 .footer_icon i {
    padding: 5px;
}

footer .row:first-child {
    border-bottom: 2px solid #5865F2;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

footer .row .col-2 .footer_button a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    z-index: 10;
    font-size: 18px;
    position: absolute;
    right: 0;
}

.row{
    width: 100%;
}

#ita{
    width: 40px;
    z-index: 1000000;
}

.registrati{
    position: relative;
}

.section{
    position: relative;
}

.wave{
    position: absolute;
    left: 0;
    width: 100%;
    height: 70px;
    color: lightgrey;
}

.wave_top{
    bottom:100%;
}

.wave_bottom{
    top: 100%;
    transform: rotate(180deg);
}

#bandiera{
    width: 20px;
}